# 1. ROS2 & C++ 빌드 / 생성 파일
build/
install/
log/
*.o
*.so
*.a

# 2. Qt / QML 관련 빌드 임시 파일
*.qrc.depends
.qmake.stash

# 3. ROS2 view_frames 임시 파일
frames_*.gv
frames_*.pdf
frames_*.png

# 4. VS Code 및 에디터 설정 파일
.vscode/
*.swp
*~